{% extends 'layout.html' %}

{% block main %}

<body style="margin-left: 42px;">

    <nav style="--bs-breadcrumb-divider: '>'; color: white; margin-top: -60px; margin-bottom: -60px;" aria-label="breadcrumb" class="d-flex justify-content-center ">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/design-cpu">CPU</a></li>
        <li class="breadcrumb-item"><a href="/design-motherboard">Motherboard</a></li>
        <li class="breadcrumb-item active"><a href="/design-ram">RAM</a></li>
        <li class="breadcrumb-item"> GPU</li>   
        <li class="breadcrumb-item"> Storage</li>
        <li class="breadcrumb-item"> Cooler</li>
        <li class="breadcrumb-item"> PSU</li>
        <li class="breadcrumb-item">Case</li>
        <li class="breadcrumb-item">Name</li>


    </ol>
    </nav>

    <div class="look_for_container">
    <h1 class="title">Step 3: Choosing Your RAM</h1>
    <div class="small-hr"></div>
    <br>
    <p>This is the third stage to designing your PC. The RAM shown is based off of your motherboards RAM slot type yours being - {{ ram_type[0]['ram_type'] }}.</p>


    <form action="/design-ram" method="POST">
        <select class="design-select" name="ram" id="ram" required style="width: 870px">
            <option selected disabled value="">Choose your RAM</option>
            {% for ram in rams %}
            <option value="{{ ram.component_name }}">{{ ram.component_name }} - £{{ ram.retail_price }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <div class="medium-hr"></div>
        <br>
        <button class="btn btn-primary" style="height: 100px; width: 400px; font-size: 40px; border-radius: 20px;" type="submit">Next</button>
    </form>
    </div>

    <br>
    <div class="look_for_container">

    <h1 class="title" id="so_far">PC Build So Far: </h1>
    <div class="small-hr"></div>
    <br>
    <table class="summary-table mx-auto" style="height: 200px; font-size: 20px; width: 900px; margin-bottom: 50px;">
        <thead>
            <th>Part</th>
            <th>Part Name</th>
            <th>Price</th>
        </thead>
        <tr>
            <td>CPU</td>
            <td>{{ cpu }}</td>
            <td>£{{ cpu_price }}</td>
        </tr>
        <tr>
            <td>Motherboard</td>
            <td>{{ motherboard }}</td>
            <td>£{{ motherboard_price }}</td>
        </tr>
        <tfoot>
            <td>Total Cost</td>
            <td></td>
            
            <td>£{{ cpu_price + motherboard_price}}</td>
        </tfoot>
    </table>


      <div class="floating-div index-div" style="margin-top:-28px; ">
        <h1 class="title_3" style="text-align: center;">Index:</h1>
        <ul style="color: white; font-size: 25px;">
            <li>
                <a  href="{{url_for('design_ram')}}#top">
                    <button class="floating-btn2">Top</button>
                </a>
            </li>
            <li>
                <a  href="{{url_for('design_ram')}}#so_far">
                    <button class="floating-btn2">Build So Far</button>
                </a>
            </li>
        </ul>
    </div>

</body>



{% endblock %}