{% extends 'layout.html' %}

{% block main %}

<body style="margin-left: 42px;" id="top">

    <nav style="--bs-breadcrumb-divider: '>'; color: white; margin-top: -60px; margin-bottom: -60px;" aria-label="breadcrumb" class="d-flex justify-content-center ">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/design-cpu">CPU</a></li>
        <li class="breadcrumb-item"><a href="/design-motherboard">Motherboard</a></li>
        <li class="breadcrumb-item"><a href="/design-ram">RAM</a></li>
        <li class="breadcrumb-item active"><a href="/design-gpu">GPU</a></li>   
        <li class="breadcrumb-item"> Storage</li>
        <li class="breadcrumb-item"> Cooler</li>
        <li class="breadcrumb-item"> PSU</li>
        <li class="breadcrumb-item">Case</li>
        <li class="breadcrumb-item">Name</li>


    </ol>
    </nav>

    <div class="look_for_container">
    <h1 class="title">Step 4: Choosing GPU</h1>
    <div class="small-hr"></div>
    <p>This is the fourth step to designing you PC. All GPU options are availble as they are compatible with everything but we would reccomend not choosing a highly overpowered GPU that doesnt match CPU performance. . </p>

    <form action="/design-gpu" method="POST">
        <select class="design-select" name="gpu" id="gpu" required style="width: 600px;">
            <option selected disabled value="">Choose your GPU</option>
            {% for gpu in gpus %}
            <option value="{{ gpu.component_name }}">{{ gpu.component_name }} - £{{ gpu.retail_price }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <div class="medium-hr"></div>
        <br>

        <button class="btn btn-primary" style="height: 100px; width: 400px; font-size: 40px; border-radius: 20px;" type="submit">Next</button>
    </form>
    </div>

    

    <div class="look_for_container">
    <h1 class="title" id="build">PC Build so Far: </h1>
    <div class="small-hr"></div>
    <table class="summary-table mx-auto" style="height: 200px; font-size: 20px; width: 900px; margin-bottom: 50px;">
        <thead>
            <th>Part</th>
            <th>Part Name</th>
            <th>Price</th>
        </thead>
        <tr>
            <td>CPU</td>
            <td>{{ cpu }}</td>
            <td>£{{ cpu_price }}</td>
        </tr>
        <tr>
            <td>Motherboard</td>
            <td>{{ motherboard }}</td>
            <td>£{{ motherboard_price }}</td>
        </tr>
        <tr>
            <td>RAM</td>
            <td>{{ ram }}</td>
            <td>£{{ ram_price }}</td>
        </tr>
        <tr>
            <td>Total Cost</td>
            <td></td>
            
            <td>£{{ cpu_price + motherboard_price + ram_price}}</td>
        </tr>
        </table>



      <div class="floating-div index-div" style="margin-top:-28px; ">
        <h1 class="title_3" style="text-align: center;">Index:</h1>
        <ul style="color: white; font-size: 25px;">
            <li>
                <a  href="{{url_for('design_gpu')}}#top">
                    <button class="floating-btn2">Top</button>
                </a>
            </li>
            <li>
                <a  href="{{url_for('design_gpu')}}#build">
                    <button class="floating-btn2">Build So Far</button>
                </a>
            </li>
        </ul>
    </div>

</body>



{% endblock %}